\#*
*~
*.bak
*.o
config11/config11
converters/asc/asc
converters/decsys/decsys
converters/dtos8cvt/dtos8cvt
converters/gt7cvt/gt7cvt
converters/hpconvert/hpconvert
converters/indent/indent
converters/littcvt/littcvt
converters/m8376/m8376
converters/mt2tpc/mt2tpc
converters/mtcvt23/mtcvtv23
converters/mtcvtfix/mtcvtfix
converters/mtcvtodd/mtcvtodd
converters/noff/noff
converters/sfmtcvt/sfmtcvt
converters/strrem/strrem
converters/strsub/strsub
converters/tar2mt/tar2mt
converters/tp512cvt/tp512cvt
converters/tpc2mt/tpc2mt
crossassemblers/hpasm/hpasm
crossassemblers/macro1/macro1
crossassemblers/macro7/macro7
crossassemblers/macro8x/macro8x
extracters/ckabstape/ckabstape
extracters/mmdir/mmdir
extracters/mtdump/mtdump
extracters/rawcopy/RawCopy
extracters/rstsflx/flx
extracters/sdsdump/sdsdump
extracters/tpdump/tpdump
