\#*
*~
*.bak
*.d
*.dep
*.o
*.obj
*.exe
*.user
*.pch
*.ncb
*.suo
*.swp
[Dd]ebug*/
[Rr]elease*/
config11/config11
converters/asc/asc
converters/cosy/cosy
converters/decsys/decsys
converters/dtos8cvt/dtos8cvt
converters/fsio/fsio
converters/gt7cvt/gt7cvt
converters/hpconvert/hpconvert
converters/indent/indent
converters/littcvt/littcvt
converters/m8376/m8376
converters/mksimtape/mksimtape
converters/mt2tpc/mt2tpc
converters/mtcvt23/mtcvtv23
converters/mtcvtfix/mtcvtfix
converters/mtcvtodd/mtcvtodd
converters/noff/noff
converters/sfmtcvt/sfmtcvt
converters/strrem/strrem
converters/strsub/strsub
converters/tar2mt/tar2mt
converters/tp512cvt/tp512cvt
converters/tpc2mt/tpc2mt
crossassemblers/hpasm/hpasm
crossassemblers/macro1/macro1
crossassemblers/macro11/macro11
crossassemblers/macro11/dumpobj
crossassemblers/macro11/git-info.h
crossassemblers/macro7/macro7
crossassemblers/macro8x/macro8x
extracters/ckabstape/ckabstape
extracters/cpytap/cpytap
extracters/dbtap/dbtap
extracters/mmdir/mmdir
extracters/mtdump/mtdump
extracters/rawcopy/RawCopy
extracters/rawtap/rawtap
extracters/rstsflx/flx
extracters/sdsdump/sdsdump
extracters/tpdump/tpdump
